body{
	background-color: lightskyblue;
}
canvas{
	border: 3px solid blue;
	background-color: whitesmoke;
	margin-left: 10px;
	margin-top: 10px;
}
userChats{
	border: 1px solid black
}

.not_canvas{
	float: right;
}
.title{
	text-align: center
}

.tool-bar{
	margin-top: 50px;
}

 .message-room{
	margin-top: 20px;
	text-align: center;
}

#userNames{
	height: 200px;
	width: 100px;
	overflow: scroll;
	float: right;
}

#userChats{
	height: 200px;
	width: 100px;
	overflow: scroll;
}